{% extends "layout.html" %}

{% block title %}
    Competitions
{% endblock %}

{% block main %}

    <table>
        <tbody>
            <tr>
                <th>Upcoming Competitions</th>
                <th>Date</th>
            </tr>
            {% for row in comp_details %}
<!--[row["name"], row["date"], row["comp_id"]]-->
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td><a href="/reg_for_comp?q={{row[2]}}">Register</a></td>
                <td><a href="{{ url_for('.comp_results', comp_id=row[2]) }}">Competition Results</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}