{% extends "layout.html" %}

{% block title %}
    Drive the Chrimbus Tank!
{% endblock %}

{% block main %}

      {% if user_name %}
          <div><h3>Welcome {{ user_name }}!</h3></div>
      {% endif %}
<!-- Display the countdown timer in an element -->
      <p id="timer"></p>

      <script>
      // get some interval constants
      const n_minutes = 1; // i.e., 1 minute drive intervals
      const ms_per_n_minutes = 1000 * 60 * n_minutes;

      // get the number of milliseconds elapsed since January 1, 1970 00:00:00 UTC, with leap seconds ignored,
      // then add the number of milliseconds in N minutes.
      const now_plus_N_minutes = Date.now() + ms_per_n_minutes; //units are milliseconds

      // Update the count down every 1 second
      var x = setInterval(function() {

        // Find the distance between now and the count down date
        var distance = now_plus_N_minutes - Date.now();

        // Time calculations for minutes and seconds
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Display the result in the element with id="demo"
        document.getElementById("timer").innerHTML = minutes + "m " + seconds + "s ";

        // If the count down is finished, write some text
        if (distance <= 0) {
          clearInterval(x);
          document.getElementById("timer").innerHTML = "EXPIRED";
          $.get('/drive_timeout', function(response) {
            if (response.redirect) {
              window.location.href = response.redirect;
            }
          });
        }
      }, 1000);
      </script>

      <div class='container'>
      <h3>Test</h3>
          <form>
              <a href=# id=left><button class="btn btn-default">Left</button></a>
              <a href=# id=right><button class="btn btn-default">Right</button></a>
              <a href=# id=forward><button class="btn btn-default">Forward</button></a>
              <a href=# id=reverse><button class="btn btn-default">Reverse</button></a>
              <a href=# id=shot><button class="btn btn-default"">Shot!</button></a>
          </form>

      </div>

    <!-- Example of displaying multiples items from flask -->
    <table width="500" align="left">
        <tbody>
            <!-- {% for row in rows %}
            <tr>
                <td><strong><a href="{{ row[1] }}">{{ row[0] }}</a></strong> {{ row[2] }}</td>
            </tr>
            {% endfor %} -->
        </tbody>
    </table>
{% endblock %}
