{% extends "layout.html" %}

{% block title %}
    Drive!
{% endblock %}

{% block main %}
    <form action="/login" method="post">
      <button class="btn btn-left" type="submit">Left</button>
      <button class="btn btn-right" type="submit">Right</button>
      <button class="btn btn-forward" type="submit">Forward</button>
      <button class="btn btn-reverse" type="submit">Reverse</button>
      <button class="btn btn-shot" type="submit">Shot!</button>
    </form>
    <!-- Example of displaying multiples items from flask -->
    <table width="500" align="left">
        <tbody>
            {% for row in rows %}
            <tr>
                <td><strong><a href="{{ row[1] }}">{{ row[0] }}</a></strong> {{ row[2] }}</td>
            </tr>
            <!--<tr>-->
            <!--    <td>{{ row[2] }}</td>-->
            <!--</tr>-->
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
