{% extends "layout.html" %}

{% block main %}
    <table>
        <tbody>
            <tr>
                <th>Transaction Type</th>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Date/Time</th>
            </tr>
            {% for row in user_history %}
            <!--user_history.append([row["type"], row["symbol"], row["price"], row["numshares"], row["datetime"]])-->
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>${{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
