{% extends "layout.html" %}

{% block title %}
    Welcome to Chrimbus Tank Control!
{% endblock %}


{% block main %}
      {% if user_name %}
          <div><h3>Welcome back {{ user_name }}!</h3></div>
      {% endif %}
      <form action="/" method="post">
          <div class="form-group">
              <input autocomplete="off" autofocus class="form-control" name="user_name" placeholder="Type your name!" type="text" required>
          </div>
          <button class="btn btn-primary" type="submit">Sign me up!</button>
      </form>
{% endblock %}
