{% extends "layout.html" %}

{% block title %}
    Search Members
{% endblock %}

{% block main %}
    <table>
        <tbody>
            <tr>
                <th>Competitor Name</th>
                <th>Weight Class</th>
                <th>Age</th>
                <th>Competition Name</th>
                <th>Date</th>
            </tr>
            {% for user in users %}
<!--[row["first_name"], row["last_name"], row["weight"], row["age"], row["name"], row["date"], row["comp_id"]-->
            <tr>
                <td>{{ user[0] }} {{ user[1] }}</td>
                <td>{{ user[2] }} kg</td>
                <td>{{ user[3] }} yrs</td>
                <td>{{ user[4] }}</td>
                <td>{{ user[5] }}</td>
                <td><a href="{{ url_for('.member_results', comp_id=user[6], fname=user[0], lname=user[1]) }}">Member Results</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}