{% extends "layout.html" %}

{% block title %}
    Competitions
{% endblock %}

{% block main %}
    <h2>Competition Registration: {{ comp_details[0][0] }}</h2>
    <div>
        {{ comp_details[0][1] }} </br>
        {{ comp_details[0][2] }} </br>
        {{ comp_details[0][3] }}, {{ comp_details[0][4] }} {{ comp_details[0][5] }} </br></br>
    </div>
    <form action="/competition_registration" method="post">

        <div class="form-group">
            <label><b>First Name</b></label>
            <input autocomplete="off" class="form-control" placeholder="First" name="first_name" type="text" required>

            <label><b>Last Name</b></label>
            <input autocomplete="off" class="form-control" placeholder="Last" name="last_name" type="text" required>
        </div>
        <div class="form-group">
            <label><b>Age</b></label>
            <input size="3" autocomplete="off" class="form-control" placeholder="yrs" name="age" type="text">

            <label><b>Weight Class</b></label>
            <select name="weight">
                <option value="kg53">53kg</option>
                <option value="kg59">59kg</option>
                <option value="kg66">66kg</option>
                <option value="kg74">74kg</option>
                <option value="kg83">83kg</option>
                <option value="kg93">93kg</option>
                <option value="kg105">105kg</option>
                <option value="kg120">120kg</option>
                <option value="kg120+">120kg+</option>
            </select>

            <label><b>Sex</b></label>
            <select name="sex">
                <option value="male">M</option>
                <option value="female">F</option>
            </select>
        </div>
        <div class="form-group">
            <label><b>Email</b></label>
            <input autocomplete="off" class="form-control" placeholder="your_email@email.com" name="email" type="text" required>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
{% endblock %}