{% extends "layout.html" %}

{% block title %}
    Wait!
{% endblock %}

{% block main %}
    <div>
      <div class="wait-grid-container">
        <!-- hidden button to take user to drive page -->
        <div class="wait-grid-item"><button id="drive_button" class="btn btn-primary"></button></div>
        {% if user_names %}
          {% for user in user_names %}
            <div class="wait-grid-item">{{ user }}</div>
          {% endfor %}
        {% else %}
          <div class="wait-grid-item">No users are waiting! Go sign up ya dingus!</div>
        {% endif %}
        </div>

      <script>
        // document.getElementById('drive_button').style.visibility="hidden";
        // check if it's this user's turn once every second
        var x = setInterval(function() {
            var my_turn = "False";
            $.getJSON('/check_turn', function(data) {
                if (data.redirect) {
                  window.location.href = data.redirect;
                } else {
                  my_turn = data.is_it_my_turn;
                  if (my_turn == "True") {
                      document.getElementById('drive_button').style.visibility="visible";
                      document.getElementById("drive_button").onclick = function () {
                          location.href = "/drive";
                      };
                      // once we know it's our turn to drive, give the user two minutes to
                      // navigate to the Drive page.
                      end_time = data.end_time; // seconds until wait_time is up

                      var y = setInterval(function() {
                        // Find the distance between now and the count down date
                        var distance = end_time*1000 - Date.now(); //Date.now() is in "ms" not "s"

                        // Time calculations for minutes and seconds
                        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                        // Display the result in the element with id="demo"
                        document.getElementById('drive_button').innerHTML = "GO DRIVE: " + minutes + "m " + seconds + "s ";

                        if (distance <= 0) {
                          clearInterval(y);
                          $('a#drive_button').style.visibility="hidden";
                          $.get('/user_wait_timeout', function(response) {
                            if (response.redirect) {
                              window.location.href = response.redirect;
                            }
                          });
                        } // if (distance <= 0)
                      }, 1000);
                  } else {
                    document.getElementById('drive_button').innerHTML = "Users Waiting to Drive:";
                  } //if (my_turn == True)
                } //else
            }); // getJSON
          }, 1000);
        </script>



    </div>
{% endblock %}
