{% extends "layout.html" %}

{% block body %}

    <form action="{{ url_for('score') }}" method="post" width="50">
        <fieldset>
            <div class="form-group">
                <input class="form-control" name="string1" placeholder="String1" type="text" size="20"/>
            </div>
            <div class="form-group">
                <input class="form-control" name="string2" placeholder="String2" type="text" size="20"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </fieldset>
    </form>

{% endblock %}
