
html {
   margin: 0px;
   height: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   background-image: url("/static/tim-and-eric.jpg");
   background-repeat:no-repeat;
   background-size:100% 100%;
}

nav .navbar-brand
{
  /* size for brand */
  font-size: xx-large;
}
#timer {
  width: auto;
  height: inherit;
}

#drive_button {
  margin: auto;
  padding: 20px;
  background-color: red;
  font-weight: bold;
  text-align: center;
}

#drive_button:hover {
  background-color: green;
}

.drive_header {
  background-color: #ffffff;
  width: auto;
  height: auto;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  background-color: rgba(255, 255, 255, 0.0);
  padding: 1px;
  opacity: 0.1;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.0);
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  padding: 0px;
  font-size: 30px;
  text-align: center;
  opacity: 0.9;
}

#q
{
    /* Override typeahead.js's transparent background */
    background-color: #ffffff !important;

    /* Text box's width */
    width: 300px;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    background-size:100% 100%;
    /* center contents */
    text-align: center;
    height: 100%;
    width: 100%;
}

/* flashed messages */
ul {
   font-weight: bold;
   text-align: center;
}
/* waiting room list of users */
/* one column  */
.wait-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 10px 10px;
  background-color: #2196F3;
  padding: 5% 10%;
}
.wait-grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  font-weight: bold;
}
.wait-grid-container > div:nth-child(even) {
    background-color: #32a844;
}
.wait-grid-container > div:nth-child(odd) {
    background-color: #8132a8;
}

.drive_timer {
  background-color: #ffffff;
}

.display:table {
    padding-left: 50px;
}
.display:table-cell {
    justify-content:flex-start;

    padding-bottom: 5px;
}
